.sponsored-apt-container {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.sponsored-card {
  padding: .5em;
  height: 300px;
  max-width: calc(100% / 6);
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
}

.sponsored-card img {
  height: 180px;
  margin-bottom: .5em;
  border-radius: .5em;
}

.sponsored-card .sponsored-price {
  margin-top: .5em;
  text-decoration: underline;
  font-weight: bold;
}

.sponsored-icon {
  color: #FF385C;
  font-size: 1.6em;
  position: absolute;
  top: 5%;
  right: 8%;
}

footer {
  background-color: #DCDCDC;
  padding: 2em 4em;
  font-size: .8em;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

footer h3 {
  margin-bottom: .5em;
}
footer h4 {
  font-weight: normal;
}

footer ul {
  list-style: none;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  margin-bottom: .2em;
}

footer ul li a {
  color: #00a0eb;
  text-decoration: none;
}
footer ul li a:visited{
  color: #00a0eb
}
footer ul li a:hover {
  font-weight: bold;
}

.apartment-details {
  padding: 2em 3em;
}

.apartment-details h2 {
  margin-top: 1em;
}

.apartment-details h2,
.apartment-details h3 {
  margin-bottom: .5em;
}

.apartment-details .text-box {
  color: grey;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.apartment-imgs {
  height: 300px;
  display: flex;
  margin-bottom: 2em;
}

.apartment-imgs-left,
.apartment-imgs-right {
  width: 50%;
}

.apartment-imgs-left {
  padding-right: 1em;
}
.apartment-imgs-right {
  display: flex;
  flex-wrap: wrap;
}
.apartment-imgs-box {
  width: 49.3%;
  height: 48.7%;
}

.apartment-imgs-left img,
.apartment-imgs-box img {
  height: 100%;
  width: 100%;
}

.apartment-imgs-left img:hover,
.apartment-imgs-box img:hover {
  opacity: .8;
}

.margin-right-helper {
  margin-right: .5em;
}
.margin-bottom-helper {
  margin-bottom: .5em;
}

.left-border-radius-helper {
  border-radius: 1em 0 0 1em;
}
.top-right-border-radius-helper {
  border-radius: 0 1em 0 0;
}
.bottom-right-border-radius-helper {
  border-radius: 0 0 1em 0;
}

.line-separator {
  height: 1px;
  border: 1px solid lightgrey;
  width: 100%;
}

.margin-2-helper {
  margin-bottom: 1.5em;
}

.apartment-description {
  padding: 2em 0;
  padding-right: 2em;
}

.apartment-description p {
  margin-bottom: 2em;
}

.host-msg {
  margin-bottom: 1.5em;
}

.services-list h4 {
  margin-bottom: 1em;
}

.apt-basics-list {
  list-style: none;
  font-size: .8em;
  padding-left: .5em;
  display: flex;
  margin-bottom: 2em;
}

.apt-basics-list li {
  display: flex;
  align-items: center;
}

.show-mg-helper {
  margin-right: 5.5em;
}
.show-mg-helper-2 {
  margin-right: 9.5em;
}

.apt-basics-list.services-edit {
  justify-content: space-between;
}

.apt-basics-list li i {
  margin-right: .5em;
}

.apt-position {
  padding: 2em 0;
}

.apt-map-box {
  border: 2px solid black;
  height: 480px;
  width: 100%;
}
.apt-map-box img {
  height: 100%;
  width: 100%;
}

.apt-position h3 {
  margin-bottom: 2em;
}

/* Login e Register */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 4.5em;
}
.login-form-container {
  width: 57%;
  border: 1px solid black;
}

.login-form-header {
  background-color: #DCDCDC;
  padding: 1em 2em;
  font-size: .9em;
  border-bottom: 1px solid #696969;
}

.login-card {
  display: flex;
  justify-content: center;
  font-size: .9em;
  width: 100%;
  padding: 2em 0;
}

.login-form-element {
  width: 400px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form-element label {
  width: 30%;
  text-align: right;
  margin-right: 1.5em;
}

.login-form-element input,
.login-form-element select {
  width: 70%;
  padding: .5em 1em;
}

.login-form-btn {
  width: 400px;
  padding: 1em;
  padding-left: 140px;
}
.login-form-btn input.form-check-input {
  margin-right: .5em;
}

.login-form-btn > div:not(:last-child){
  margin-bottom: 1em;
}

.login-form-btn button {
  background-color: #FF385C;
  border: 1px solid #FF385C;
  font-size: 1.05em;
  padding: .5em 1em;
  color: white;
  border-radius: .5em;
  margin-right: .5em;
  margin-top: 1em;
}

.login-form-btn button.register-btn {
  background-color: #FF385C;
  border: 1px solid #FF385C;
  font-size: 1.05em;
  padding: 1em 1.5em;
  color: white;
  border-radius: .5em;
  margin-right: .5em;
  margin-top: 2em;
}
.login-form-btn button:hover {
  filter: brightness(85%);
}

.login-form-btn a {
  text-decoration: none;
  color: #FF385C;
  font-weight: bold;
}
.login-form-btn a:hover {
  text-decoration: underline;
  filter: brightness(85%)
}

/* User Details */

.user-details-container {
  padding: 2em 1em;
  padding-top: 100px;
  padding-bottom: 5em;
}

.user-details-tab {
  width: 450px;
  margin: auto;
  display: flex;
}

.user-details-tab > div {
  border: 1px solid lightgrey;
}

.user-details-tab > div ul {
  list-style: none;
}
.user-details-tab > div ul li {
  height: 50px;
  font-size: .9em;
  padding: 1em;
  display: flex;
  align-items: center;
}
.user-details-tab > div ul li i {
  font-size: 1.5em;
  margin-right: .4em;
}

.user-details-tab .user-details-left {
  width: 40%;
}
.user-details-tab .user-details-right {
  width: 60%;
}

/* COMPONENTS*/
/* SPONSOR */

#payments{
  margin-top: 100px;
  width:500px;
  height:600px;
  margin-right: auto;
  margin-left: auto;
}

/* HOMEPAGE */

#hooper{
  /* border:2px solid green; */
  display: flex;
  flex-wrap: wrap;
  width:40%;
  /* height:600px; */
}

.my-apartment-info-container{
  display: flex;
  justify-content: spac;
}

.services-list{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-left: 30px;
}

.apt-basics-list{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apt-basics-list li{
  width:150px;
  margin-bottom:10px;
  margin-top:10px;
}

.service-list-low-section-right{
  display: flex;
  justify-content: center;
}

.helper-flex-JCC{
  display:flex;
  justify-content:center;
}
